@{
    ViewBag.Title = "Begin";
}

<div class="row text-center align-items-center">
    <br />
    <br />
    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Materials", "ShoesFactory")'">Почати роботу</button>
</div>
