
@{
    ViewBag.Title = "Supplies";
}
@using ShoesFactory.BLL.DTO;
@using ShoesFactory.DAL.Repositories;
@using ShoesFactory.DAL.Interfaces;

<h2>All Supplies</h2>
@foreach (SupplyDTO x in ViewBag.data)
{
    <div>@x.Count</div>
}

